	<div>
		<h1>Our Story</h1>
	</div>
	<div id="left">
		<p>At Hipster Bikes, we will have a positive impact by giving back to our community. We give back by being environmentally friendly, creating healthy transportation options for tourists and locals alike and by teaching skills that team members will be able to apply throughout their professional career. <br>
		<br>
		Hipster Bikes consistently delivers world-class customer service by developing expectations for our team members. We understand that development alone is not enough, we must create plans to meet and exceed these expectations.</p>
	</div>
	<div id="right">
		<p>Hipster Bikes provides bicylces from a major bicycle and cycling product manufacturer. This brand provides worlds most comfortable and secure riding experience. This not only ensures our customers the best biking experience but also helps our employees to know the bikes we provide and assist customers with any issues. <br>
		<br>
		The bicycle is the most efficient form of human transportation. It can combat climate change, ease urban congestion, and build human fitness. It brings us together, yet allows us to escape. And it takes us places we would never see any other way.</p>
	</div>
