<div class="titles">CONTACT US</div>

	
<div id="iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.8709142864814!2d-73.96110900000001!3d40.720858099999916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25967be66f9c5%3A0xd1292e068398665b!2sBrooklyn%2C+NY+11249!5e0!3m2!1sen!2sus!4v1412014210872" width="60%" height="200" frameborder="0" style="border:0"></iframe></div>

<div id="div1">
		<div id="add">
			<div id="text"><span>ADDRESS:</span> &nbsp&nbsp&nbsp&nbsp 1430 Kent Street<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			Brooklyn, NY 11249.
			<br><br>
			<span>PHONE:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (518)-213-2443</span></div>
		</div>
		<div id="form">
			<br>
			<form method="post"  action="send_email">
			<label for="from">From:</label>
			<input id="from" type="text" name="from" placeholder="Your EMAIL !!!"></br>
			<label for="comment">Comment:</label><br />
			<textarea id="email" name="comment" rows="10" cols="45"></textarea>	
			<div id="submitBtn">
			<input type="submit" name="button" value="Submit"/>	
			</div>
			</form>		

		</div>

</div>		