<% title = "Home" %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="public/normalize.css">
	<link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
	<nav>
	 <ul>
	 	<li><a href="#">Home</a></li>
	 	<li><a href="#">Our Story</a></li>
	 	<li><a href="#">Contact Us</a></li>
	 </ul>
	<button>Rent Now</button>
	</nav>
	<%=yield%>
	<footer>
		<ul>
			<li>Copy</li>
			<li>item</li>
			<li>item2</li>
		</ul>
	</footer>
</body>
</html>