
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<link href="<%= url('/normalize.css') %>" rel="stylesheet" type="text/css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
	<nav>
	 <ul>
	 	<li><i class=" hide fa fa-home"></i><a href="/home">Home</a></li>
	 	<li><i class=" hide fa fa-beer"></i><a href="/about_us">Our Story</a></li>
	 	<li><i class=" hide fa fa-envelope"></i><a href="/contact_us">Contact Us</a></li>
	 </ul>
	<button onclick="location.href='/rent_now'">Rent Now</button>
	</nav>
	<div role="main">
	<%=yield%>
	</div>
	<!-- <footer>
		<ul>
			<li>Copy</li>
			<li>item</li>
			<li>item2</li>
		</ul>
	</footer> -->
	<!-- <script>
	$(document).ready(function(){
		$('nav a').hover(function(){
			$('.hide').show();
		})
	});
	</script> -->
</body>
</html>