div h1 {
	text-align: center;
}

#left {
	background: rgba(255, 255, 255, 0.4);
	float: left;
	width: 350px;
	height: 370px;
	margin-left: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

#right {
	background: rgba(255, 255, 255, 0.4);
	float: right;
	width: 350px;
	height: 370px;
	margin-right: 100px;
	padding-left: 10px;
	padding-right: 10px;
}

