div h1 {
	text-align: center;
	padding-top: 100px;
}

#left {
	background: rgba(62,96,111, .4);
	float: left;
	width: 300px;
	height: 420px;
	margin-left: 200px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	line-height: 1.4;
}

#right {
	background: rgba(62,96,111, .4);
	float: right;
	width: 300px;
	height: 420px;
	margin-right: 200px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	line-height: 1.4;
}

